@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Roboto');

html,body {
    width:100%;
    height: 100%;
    padding:0;
    margin:0;
}

body {
    padding:1rem;
    width: calc(100vw - 2rem);
    height: auto;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: .05rem;
}

b {
    color:#54a0ff;
}

section {
    background: #333;
    color:#ecf0f1;
    padding: 1rem;

    margin-top: 1rem;
    border-radius: .2rem;
}

h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
}

label {
    clear: both;
    width:100%;
}

img.platform__logo {
    width: 50px;
    height: 50px;
}

p.lm_utils {
    background: #333;
    color:#fff;
    padding:.5rem;
    border-radius: .1rem;
    display: inline-block;
}

code {
    font-weight: bold;
    display: inline-flex;
    margin: 1rem 0;
    background: #fff;
    color: #4a4a4a;
    padding: 2rem;
}